body{
display: flex;
flex-direction: column;
align-items: center;
}

.header{
display: flex;
justify-content: center;
align-items: center;
height: 10%;
width: 100%;
}

.header img{
  width: 45px;
  height: 45px;
  margin-top: 5px;
  margin-right: 15px;
}

#Menu .button{
width: 30px;
height: 10px;
}

#Menu {
  display: flex;
  justify-content: center;
}

.container{
  display: flex;
  justify-content: center; 
  
  flex-direction: column;
}

.container h1{
  text-align: center;
  font-weight: bold;
}


.footer{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top:90%;
  }

.board{
    background-color: #cccccc;
    border-radius: 5px;
    padding: 1vw;
    margin-top: 3vh;
  }
.board button{
    width: 3vw;
    height: 3vw;
    margin: 1vw;
    border: 1px solid #999;
    border-radius: 50px;
  }

.board button.hidden{
    visibility: hidden;
  }

.board button.peg{
background-color: #0000aa;
    }
.board button.peg:hover{
background-color: #0000ff;
}

.board button.peg:active{
background-color: #000066;

    }
.board button.hole{
  background-color: #333333;
    }
.board button.hole:hover{
cursor: default;
    }
.board button.selected{
  background-color: #00aa00;
}
.board button.selected:active{
  background-color: #006600;
}

.board button.suggestion{
  background-color: #FFCE75;
}
